@model IEnumerable<Solution.Models.Assignment>

@{
    ViewBag.Title = "Assignment";

}
<!DOCTYPE html>
<html>
<head>
    <title>Assignment</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="~/navbar.css" rel="stylesheet" />
    <link href="~/Quiz.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--##########  SCRIPT FÖR LJUDKARUSELL  ##########-->
    <script>
        window.onload = function () {
            showSlides(1);
        };
        var slideIndex = 1;
        showSlides(slideIndex);
        plusSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
    <!--##########  SCRIPT FÖR LJUDKARUSELL  ##########-->

    <style>
        hr.style1 {
            border-top: 1px solid #8c8b8b;
        }


    </style>


</head>
<body>
    <!-- Kommentera tillbaka divarna så hamnar knapparna i toppmenyn, dock i mitten och i fel färg -->
    <!--<div class="navbar navbar-inverse navbar-fixed-top">-->
        <ul>
            <li>@Html.ActionLink("Startsidan", "Index", "Home")</li>
            <li>@Html.ActionLink("Kategorier", "Category", "Home")</li>
            <li>@Html.ActionLink("Uppgifter", "Assignment", "Home")</li>
        </ul>
    <!--</div>-->


    <h1>Uppgiftssidan</h1>
    @foreach (var item in Model.Where(i => i.Assignment_Type == "Göra"))
    {
        <div class="card text-center border: 25px">
            <div class="card-block">
                <h1>Klicka på rätt ord</h1>
                <div>
                    <p>
                        <audio controls="controls">
                            <source src="~/Uploads/@item.Audio_File" />
                        </audio>
                    </p>
                </div>


                <div class="scp-quizzes-main">
                    <div class="scp-quizzes-data">
                        @if (item.Answer_One != null)
                        {
                            <input type="radio" class="answer">
                            <label for="@item.Answer_One" class="answer" value="@item.Correct_Answer">@item.Answer_One</label><br />
                        }
                        @if (item.Answer_Two != null)
                        {
                            <input type="radio" class="answer">
                            <label for="@item.Answer_Two" class="answer" value="@item.Correct_Answer">@item.Answer_Two</label><br />
                        }
                        @if (item.Answer_Three != null)
                        {
                            <input type="radio" value="@item.Answer_Three" class="answer">
                            <label for="@item.Answer_Three" class="answer">@item.Answer_Three</label><br />
                        }
                        @if (item.Answer_Four != null)
                        {
                            <input type="radio" value="@item.Answer_Four" class="answer">
                            <label for="@item.Answer_Four">@item.Answer_Four</label><br />
                        }
                        @if (item.Answer_Five != null)
                        {
                            <input type="radio" value="@item.Answer_Five" class="answer">
                            <label for="@item.Answer_Five">@item.Answer_Five</label><br />
                        }
                        @if (item.Answer_Six != null)
                        {
                            <input type="radio" value="@item.Answer_Six" class="answer">
                            <label for="@item.Answer_Six">@item.Answer_Six</label><br />
                        }
                    </div>
                </div>


            </div>
        </div>

    }
    <div class="card text-center">
        <div class="card-block">
            <div>
                <h3>Spela in dig själv och jämför</h3>
                <p>
                    <input type="image" src="~/Content/img/record.jpg" alt="Submit" id="startRecord" width="48" height="48">
                    <input type="image" src="~/Content/img/stoprecord.jpg" alt="Submit" id="stopRecord" width="48" height="48">

                    <!--Martin Lundgrens knappar-->
                    <!--Nackdelen med bildknapparna är att det inte syns vilken knapp som har tryckts på-->
                    <!--<button type="button" class="btn btn-success" id=startRecord>start</button>-->
                    <!--<button type="button" class="btn btn-danger" id=stopRecord disabled>stop</button>-->
                </p>
                <p>Din inspelning:</p>
                <audio id=recordedAudio></audio>
            </div>
            <br />
            </div>
        </div>
            <div class="card text-center">
                <div class="card-block">
                    <div class="slideshow-container">
                        <br />
                        @foreach (var item in Model.Where(i => i.Assignment_Type == "Höra"))
            {
                <!-- Slideshow container -->


                    <!-- Full-width images with number and caption text -->
                            <div class="mySlides">
                                <p>Jämför:</p>
                                <audio controls="controls">
                                    <source src="~/Uploads/@item.Audio_File" />
                                </audio>
                            </div>
                        }
                    </div>
                </div>
                <br>
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
            




            <!--<br />


            <br />
            <br />

            <div class="card text-center">
                <div class="card-block">
                    <div>
                        <h3>Spela in dig själv och jämför</h3>
                        <p>
                            <input type="image" src="~/Content/img/record.jpg" alt="Submit" id="startRecord" width="48" height="48">
                            <input type="image" src="~/Content/img/stoprecord.jpg" alt="Submit" id="stopRecord" width="48" height="48">

                            <!--Martin Lundgrens knappar-->
                            <!--Nackdelen med bildknapparna är att det inte syns vilken knapp som har tryckts på
                            <!--<button type="button" class="btn btn-success" id=startRecord>start</button>
                            <!--<button type="button" class="btn btn-danger" id=stopRecord disabled>stop</button>
                        </p>
                        <p>Din inspelning:</p>
                        <audio id=recordedAudio></audio>
                    </div>

                    <hr class="style1">

                    <div>

                        <p>Jämför:</p>
                        <audio controls="controls">
                            <source src="~/syr.wav" />
                        </audio>

                    </div>
                    <div class="container">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#syr">Visa ord</button>
                        <div id="syr" class="collapse">
                            <br />
                            <p>"Syr"</p>
                        </div>
                        <br />
                    </div>
                </div>
            </div>

            <br />
            <br />-->
</body>
</html>

<!-- ######## SPELA IN LJUD  #######-->
<script>
navigator.mediaDevices.getUserMedia({audio:true})
.then(stream => {
rec = new MediaRecorder(stream);
rec.ondataavailable = e => {
audioChunks.push(e.data);
if (rec.state == "inactive"){
let blob = new Blob(audioChunks,{type:'audio/x-mpeg-3'});
recordedAudio.src = URL.createObjectURL(blob);
recordedAudio.controls=true;
recordedAudio.autoplay=true;
audioDownload.href = recordedAudio.src;
audioDownload.download = 'mp3';
audioDownload.innerHTML = 'download';
}
}
})
.catch(e=>console.log(e));

startRecord.onclick = e => {
startRecord.disabled = true;
stopRecord.disabled=false;
audioChunks = [];
rec.start();
}
stopRecord.onclick = e => {
startRecord.disabled = false;
stopRecord.disabled=true;
rec.stop();
}
</script>



<!-- ######## SPELA IN LJUD  #######-->
<!---->
<!-- ######## QUIZ CHANGE COLOR  #######-->
<script type="text/javascript">
    $(document).ready(function () {
        $('label.answer').click(function () {
            var clickedAnswer = $(this).text();
            var rightAnswer = $(this).attr('value');
            if (clickedAnswer == rightAnswer)
            {
                $('label').removeClass('worngans')
                $('label').removeClass('worngans2')
                $(this).addClass('worngans2');
            }
            else
            {
                $('label').removeClass('worngans')
                $('label').removeClass('worngans2')
                $(this).addClass('worngans');
            }
            //Obligatorisk commit comment
             });
         });
</script>

<!-- ######## QUIZ CHANGE COLOR  #######-->




