@model IEnumerable<Solution.Models.Assignment>

@{
    ViewBag.Title = "Assignment";

}
<!DOCTYPE html>
<html>
<head>
    <title>Assignment</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="~/navbar.css" rel="stylesheet" />
    <link href="~/Quiz.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        hr.style1 {
            border-top: 1px solid #8c8b8b;
        }


    </style>


</head>
<body>
    
    <ul>
        <li>@Html.ActionLink("Startsidan", "Index", "Home")</li>
        <li>@Html.ActionLink("Kategorier", "Category", "Home")</li>
        <li>@Html.ActionLink("Uppgifter", "Assignment", "Home")</li>
    </ul>
        
    <h1>Uppgiftssidan</h1>
    @foreach (var item in Model.Where(i => i.Assignment_Type == "Göra"))
    {
        <div class="card text-center border: 25px">
            <div class="card-block">
                <h1>Klicka på rätt ord</h1>
                <!--<img src="~/Content/img/train.jpg" width="400" height="277" />-->
                <div>
                    <p>
                        <audio controls="controls">
                            <source src="~/Uploads/@item.Audio_File" />
                        </audio>
                    </p>
                </div>


                <div class="scp-quizzes-main">
                    <div class="scp-quizzes-data">
                        <p hidden value="@item.Correct_Answer" name="correctAnswer"></p>
                        @if (item.Answer_One != null)
                        {
                            <input type="radio" value="@item.Answer_One" name="answer">
                            <label for="@item.Answer_One">@item.Answer_One</label><br />
                        }
                        @if (item.Answer_Two != null)
                        {
                            <input type="radio" value="@item.Answer_Two" name="answer">
                            <label for="@item.Answer_Two">@item.Answer_Two</label><br />
                        }
                        @if (item.Answer_Three != null)
                        {
                            <input type="radio" value="@item.Answer_Three" name="answer">
                            <label for="@item.Answer_Three">@item.Answer_Three</label><br />
                        }
                        @if (item.Answer_Four != null)
                        {
                            <input type="radio" value="@item.Answer_Four" name="answer">
                            <label for="@item.Answer_Four">@item.Answer_Four</label><br />
                        }
                        @if (item.Answer_Five != null)
                        {
                            <input type="radio" value="@item.Answer_Five" name="answer">
                            <label for="@item.Answer_Five">@item.Answer_Five</label><br />
                        }
                        @if (item.Answer_Six != null)
                        {
                            <input type="radio" value="@item.Answer_Six" name="answer">
                            <label for="@item.Answer_Six">@item.Answer_Six</label><br />
                        }
                    </div>
                </div>


            </div>
        </div>

    }


    <div class="card text-center">
        <div class="card-block">
            <div>
                <h3>Spela in dig själv och jämför</h3>
                <p>
                    <input type="image" src="~/Content/img/record.jpg" alt="Submit" id="startRecord" width="48" height="48">
                    <input type="image" src="~/Content/img/stoprecord.jpg" alt="Submit" id="stopRecord" width="48" height="48">

                    <!--Martin Lundgrens knappar-->
                    <!--Nackdelen med bildknapparna är att det inte syns vilken knapp som har tryckts på-->
                    <!--<button type="button" class="btn btn-success" id=startRecord>start</button>-->
                    <!--<button type="button" class="btn btn-danger" id=stopRecord disabled>stop</button>-->
                </p>
                <p>Din inspelning:</p>
                <audio id=recordedAudio></audio>
            </div>
            
            <hr class="style1">
            
            <div>
                
                    <p>Jämför:</p>
                    <audio controls="controls">
                        <source src="~/Boll.wav" />
                    </audio>
                

            </div>
            <div class="container">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Visa ord</button>
                <div id="demo" class="collapse">
                    <br />
                    <p>"Boll"</p>
                </div>
                <br />
            </div>
        </div>
    </div>
    <br />
    <br />
    
    <div class="card text-center border: 25px">
        <div class="card-block">
            <h1>Klicka på rätt ord</h1>
            <!--<img src="~/Content/img/train.jpg" width="400" height="277" />-->
            <div>
                <p>
                    <audio controls="controls">
                        <source src="~/T_g.wav" />
                    </audio>
                </p>
            </div>


            <div class="scp-quizzes-main">
                <div class="scp-quizzes-data">
                    <input type="radio" id="Tåg" name="question1">
                    <label for="Tåg">Tåg</label><br />
                    <input type="radio" name="question1">
                    <label>Tog</label><br />
                </div>
            </div>


        </div>
    </div>

    <br />
    <br />

    <div class="card text-center">
        <div class="card-block">
            <div>
                <h3>Spela in dig själv och jämför</h3>
                <p>
                    <input type="image" src="~/Content/img/record.jpg" alt="Submit" id="startRecord" width="48" height="48">
                    <input type="image" src="~/Content/img/stoprecord.jpg" alt="Submit" id="stopRecord" width="48" height="48">

                    <!--Martin Lundgrens knappar-->
                    <!--Nackdelen med bildknapparna är att det inte syns vilken knapp som har tryckts på-->
                    <!--<button type="button" class="btn btn-success" id=startRecord>start</button>-->
                    <!--<button type="button" class="btn btn-danger" id=stopRecord disabled>stop</button>-->
                </p>
                <p>Din inspelning:</p>
                <audio id=recordedAudio></audio>
            </div>

            <hr class="style1">

            <div>
                
                <p>Jämför:</p>
                <audio controls="controls">
                    <source src="~/syr.wav" />
                </audio>
               
            </div>
            <div class="container">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#syr">Visa ord</button>
                <div id="syr" class="collapse">
                    <br />
                    <p>"Syr"</p>
                </div>
                <br />
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="card text-center border: 25px">
        <div class="card-block">
            <h1>Klicka på rätt ord</h1>


            <div class="container">
                <!--<img src="~/Content/img/Sol.jpg" class="img-rounded" alt="Sol" width="304" height="236">-->
            </div>

            <div>
                <p>
                    <audio controls="controls">
                        <source src="~/Sol.wav" />
                    </audio>
                </p>
            </div>


            <div class="scp-quizzes-main">
                <div class="scp-quizzes-data">
                    <input type="radio" name="question2">
                    <label>Sul</label><br />
                    
                    <input type="radio" id="Sol" name="question2">
                    <label for="Sol">Sol</label>
                    
                </div>
            </div>


        </div>
    </div>
    

    

</body>
</html>

<!-- ######## SPELA IN LJUD  #######-->
<script>
navigator.mediaDevices.getUserMedia({audio:true})
.then(stream => {
rec = new MediaRecorder(stream);
rec.ondataavailable = e => {
audioChunks.push(e.data);
if (rec.state == "inactive"){
let blob = new Blob(audioChunks,{type:'audio/x-mpeg-3'});
recordedAudio.src = URL.createObjectURL(blob);
recordedAudio.controls=true;
recordedAudio.autoplay=true;
audioDownload.href = recordedAudio.src;
audioDownload.download = 'mp3';
audioDownload.innerHTML = 'download';
}
}
})
.catch(e=>console.log(e));

startRecord.onclick = e => {
startRecord.disabled = true;
stopRecord.disabled=false;
audioChunks = [];
rec.start();
}
stopRecord.onclick = e => {
startRecord.disabled = false;
stopRecord.disabled=true;
rec.stop();
}
</script>

<!-- ######## SPELA IN LJUD  #######-->
<!---->
<!-- ######## QUIZ CHANGE COLOR  #######-->
<script type="text/javascript">
    $(document).ready(function () {
        $('label').click(function () {
            var clickedAnswer = document.getElementByName('answer')
            var rightAnswer = document.getElementsByName('correctAnswer')
            if (clickedAnswer == rightAnswer)
                 $('label').removeClass('worngans');
                 $(this).addClass('worngans');
             });
         });
</script>

<!-- ######## QUIZ CHANGE COLOR  #######-->


