@model IEnumerable<Solution.Models.JoinModelCategory>
@{
    ViewBag.Title = "Category";
}
<!--<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="@Model.First().segment.URL"></iframe>
</div>-->
<br />
<!--@foreach (var item in Model)
{
    <button class="btn btn-block btn-lg btn-primary" onclick="location.href='@Url.Action("Assignment", "Home")'" >@item.categories.Name</button>
}-->
@using (Html.BeginForm("Assignment", "Home", FormMethod.Post))
{
    foreach (var item in Model)
    {
        <button class="btn btn-block btn-lg btn-primary" name="category" value="@item.categories.ID">@item.categories.Name</button>
    }
}