@model Solution.Models.Segment

@{
    ViewBag.Title = "Radera segment";
}

<h3>Är du säker på att du vill fortsätta?</h3>
<h4>Alla uppgifter, kategorier och underkategorier kommer försvinna</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Avbryt", "Index", new { @class = "btn btn-warning" })
        </div>
    }
</div>
