
@model Solution.Models.StartPageMovy
@{
    ViewBag.Title = "Start"; 
}

Välkommen @Session["Name"].ToString()
<br />
@using (Html.BeginForm("Index","Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <h5>Ändra videolänk för startsida</h5>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

        @Html.ActionLink("Lägg till nytt segment", "newSegment", "Admin", null, new { @class = "btn btn-primary btn-large btn-lg btn-block" })
        @Html.ActionLink("Lägg till ny kategori", "newCategory", "Admin", null, new { @class = "btn btn-primary btn-large btn-lg btn-block" })
        @Html.ActionLink("Lägg till ny underkategori", "newSubCategory", "Admin", null, new { @class = "btn btn-primary btn-large btn-lg btn-block" })
        @Html.ActionLink("Lägg till nya uppgifter", "Assignment", "Admin", null, new { @class = "btn btn-primary btn-large btn-lg btn-block" })