@model Solution.Models.Assignment
@{
    ViewBag.Title = "newAssignment";
}
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (var item in ViewBag.categoryName)
    {
        listItems.Add(new SelectListItem
        {
            Text = item.Name,
            Value = item.ID.ToString()
        });
    }

}
    <style>
        hr.style1 {
            border-top: 1px solid #8c8b8b;
        }

        .entry:not(:first-of-type) {
            margin-top: 10px;
        }

        .glyphicon {
            font-size: 12px;
        }


            
    </style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<body>
<h2>Create new Assignment</h2>

    <div class="container">


        
        <div>
            @using (Html.BeginForm("newAssignment", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="col-md-1">
                    @Html.DropDownListFor(model => model.Categories_ID, listItems, "Välj uppgiftskategori")
                </div>
                <br/>
                <span>Välj ljudfil:</span>
                <input type="file" name="postedFile" />
                <hr />
                <!--<input type="submit" value="Upload" />-->
                <br />
                <span style="color:green">@ViewBag.Message</span>


            <!--https://www.aspsnippets.com/Articles/Simple-File-Upload-example-in-ASPNet-MVC-Razor.aspx-->

        
        <br>
        <hr class="style1">
        <br>
        <div class="container">
            <h2>Typ av Uppgift</h2>
            <div class="col-md-4">
                <div class="col-md-6">
                    <div class="funkyradio">
                        <div class="funkyradio-default">
                            @Html.RadioButtonFor(model => model.Assignment_Type, "Göra")
                            <label for="radio1">Göra</label>
                        </div>
                        <div class="funkyradio-primary">
                            @Html.RadioButtonFor(model => model.Assignment_Type, "Höra")
                            <label for="radio2">Höra</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

            <div class="container">
                <h2>Svaralternativ</h2>
                <p>Fyll i svarsalternativen för uppgiften, och markera rätt svar för frågan</p>
                <div class="input-group">
                    <span class="input-group-addon">
                        <!--Komment som ska tas bort-->
                        @Html.RadioButtonFor(model => model.Correct_Answer, "Byt till editor-värdet")
                    </span>
                    <span class="input-group-addon">
                        <label for="answer_one">Alternativ 1</label>
                    </span>
                    @Html.EditorFor(model => model.Answer_One, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Answer_One, "", new { @class = "text-danger" })
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" value="">
                    </span>
                    <span class="input-group-addon">
                        <label for="answer_two">Alternativ 2</label>
                    </span>
                    <input type="text" id="answer_two" class="form-control">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span class="input-group-addon">
                        <label for="answer_three">Alternativ 3</label>
                    </span>
                    <input type="text" id="answer_three" class="form-control">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span class="input-group-addon">
                        <label for="answer_four">Alternativ 4</label>
                    </span>
                    <input type="text" id="answer_four" class="form-control">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span class="input-group-addon">
                        <label for="answer_five">Alternativ 5</label>
                    </span>
                    <input type="text" id="answer_five" class="form-control">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <span class="input-group-addon">
                        <label for="answer_six">Alternativ 6</label>
                    </span>
                    <input type="text" id="answer_six" class="form-control">
                </div>
            </div>
            
    <button type="submit" class="btn btn-block btn-primary btn-lg">Skapa Uppgift</button>     
            }
        </div>
        </div>

    <br />       
</body>