@model Solution.Models.Category

@{
    ViewBag.Title = "Ny kategori";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (var item in ViewBag.segmentName)
    {
        listItems.Add(new SelectListItem
        {
            Text = item.Name,
            Value = item.Id.ToString()
    });
}

}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
        <img src="~/Content/img/VUXLogo.png" alt="Company logo" width="80" height="50" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <br />
                <a class="nav-link" href="@Url.Action("newSegment", "Admin")">Hantera Segment</a>
            </li>
            <li class="nav-item">
                <br />
                <a class="nav-link" href="@Url.Action("newCategory", "Admin")">Hantera Kategorier</a>
            </li>
            <li class="nav-item">
                <br />
                <a class="nav-link" href="@Url.Action("newSubCategory", "Admin")">Hantera underkategorier</a>
            </li>
            <li class="nav-item">
                <br />
                <a class="nav-link" href="@Url.Action("Assignment", "Admin")">Hantera uppgifter</a>
            </li>
        </ul>
    </div>
</nav>
<br />
<br />
<h2>Lägg till ny kategori</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Segment_ID, listItems, "Välj segment")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Kategorinamn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.URL, "Videolänk", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spara" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<table class="table table-striped">
    <tr>
        <th>
            Segment <!--@Html.DisplayNameFor(model => model.Segment_ID)-->
        </th>
        <th>
            Kategori <!--@Html.DisplayNameFor(model => model.Name)-->
        </th>
        <th>
            Videolänk <!--@Html.DisplayNameFor(model => model.URL)-->
        </th>
    </tr>

    @foreach (var item in ViewBag.join)
    {
        <tr>
            <td>
                @item.segmentName
            </td>
            <td>
                @item.categoryName
            </td>
            <td>
                @Html.ActionLink("Ändra", "EditCategory", new { id = item.categoryID }) |
                @Html.ActionLink("Radera", "DeleteCategory", new { id = item.categoryID })
            </td>
        </tr>
    }

</table>