@model Solution.Models.Segment

@{
    ViewBag.Title = "Nytt segment";
}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
        <img src="~/Content/img/VUXLogo.png" alt="Company logo" width="80" height="50" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <br />
                <a class="nav-link" href="@Url.Action("newSegment", "Admin")">Hantera Segment</a>
            </li>
            <li class="nav-item">
                <br />
                <a class="nav-link" href="@Url.Action("newCategory", "Admin")">Hantera Kategorier</a>
            </li>
            <li class="nav-item">
                <br />
                <a class="nav-link" href="@Url.Action("newSubCategory", "Admin")">Hantera underkategorier</a>
            </li>
            <li class="nav-item">
                <br />
                <a class="nav-link" href="@Url.Action("Assignment", "Admin")">Hantera uppgifter</a>
            </li>
        </ul>
    </div>
</nav>
<br />
<br />
        <h2>Lägg till nytt segment</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.URL, "Videolänk", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Segmentnamn", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Spara" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
        <table class="table table-striped">
            <tr>
                <th>
                    Namn <!--@Html.DisplayNameFor(model => model.Name)-->
                </th>
                <th>

                Videolänk <!--@Html.DisplayNameFor(model => model.URL)-->
                </th>
                <th></th>
            </tr>



        @foreach (var item in ViewBag.segments)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.URL
                </td>
                <td>
                    @Html.ActionLink("Ändra", "EditSegment", new { id = item.Id }) |
                    @Html.ActionLink("Radera", "DeleteSegment", new { id = item.Id })
                </td>
            </tr>
}

</table>